$brand-blue-lighter: #0074D9;
$brand-blue: #1c4874;
$brand-red: #FF4136;
$code-bg: rgba(#eee, .3);
$gray-light: #efefef;
$gray: #ccc;
$gray-dark: #bbb;
$gray-darker: #aaa;
$brand-blue-lightest: rgba(#7FDBFF, .1);
$brand-snow: #fbfaf8;
$brand-green: #2ECC40;
