---
---

@import "normalize.css";
@import "_settings";
@import "_syntax";
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,700,800');

body {
  font-family: 'Libre Franklin', monospace;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px;
}

.project-logo {
  max-width: 150px;
  margin: 25px auto 30px auto;

  & > img {
    border-radius: 4px;
  }
}
.project-title-container {
  max-width: 960px;
  margin: 0 auto;
}

.project-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 250%;

  @media (max-width: 576px) {
    font-size: 150%;
  }
}

.components {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1560px;
}

.component {
  text-decoration: none;
  color: inherit;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 750px;

  .component-title {
    margin-bottom: 0;
  }

  .component-subtitle {
    color: #aaa;
    font-size: 125%;
    margin-top: 10px;
  }
}

pre {
  padding: 15px;
  border-radius: 4px;
  background-color: rgba(#eee, .3);
}

figure.highlight {
  margin: 0;
}

.headline-container {
  background-color: rgba(#7FDBFF, .1);
  padding: 100px;
  margin-bottom: 100px;
}

.headline-actions {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.headline-action {
  display: inline-block;
  background-color: rgba($contract-color, .75);
  border-radius: 4px;
  padding: 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: background-color .1s ease-in-out;

  &:hover {
    background-color: rgba($contract-color, 1);
  }
}

.headline-hint {
  color: black;
  text-align: center;
}

footer {
  text-align: center;
  max-widht: 1560px;
  margin-top: 100px;
  margin-bottom: 25px;
  border-top: 1px solid #eee;
  padding-top: 25px;

  .heart {
    color: #FF4136;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
