---
---

@import "normalize.css";
@import "_settings";
@import "_syntax";
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,700,800');

body {
  font-family: 'Libre Franklin', monospace;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

pre {
  padding: 15px;
  border-radius: 4px;
  background-color: rgba(#eee, .3);
  overflow-x: scroll;
}

figure {
  margin: 0;
  overflow-x: scroll;
}

.footer-container {
  border-top: 1px solid #eee;
  margin-top: 100px;
  margin-bottom: 25px;
  padding-top: 25px;
}

footer {
  text-align: center;
  max-width: 1560px;
  margin: 0 auto;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px;
}

.components {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1560px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;

  .component {
    text-decoration: none;
    color: inherit;
    width: 100%;
    max-width: 750px;
    margin-left: 15px;
    margin-right: 15px;

    .component-title {
      margin-bottom: 0;
    }

    .component-subtitle {
      color: #aaa;
      font-size: 125%;
      margin-top: 10px;
    }
  }
}

.headline {
  padding: 100px;
  margin-bottom: 100px;
  max-width: 960px;
  margin: 0 auto;
}

.headline-container {
  background-color: rgba(#7FDBFF, .1);
}

.headline-actions {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .headline-action {
    display: inline-block;
    background-color: rgba($contract-color, .75);
    border-radius: 4px;
    padding: 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: background-color .1s ease-in-out;

    &:hover {
      background-color: rgba($contract-color, 1);
    }
  }
}

.headline-logo {
  max-width: 150px;
  margin: 25px auto 30px auto;

  & > img {
    border-radius: 4px;
  }
}

.headline-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 250%;

  @media (max-width: 576px) {
    font-size: 150%;
  }
}

.headline-hint {
  color: black;
  text-align: center;
}

.heart {
  color: #FF4136;
}
