<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="z-index: 10">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/images/logo.png" style="max-width: 30px" class="img-fluid rounded d-inline-block align-top"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item {% if page.path == "index.html" || page.url == "/" %}active{% endif %}">
          <a class="nav-link" href="{% link index.html %}">
          Home
          {% if page.url == "/index.html" || page.path == "index.html" %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if page.path contains "guides" %}active{% endif %}" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Docs
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item {% if page.path contains "guides" %}active{% endif %}" href="{% link guides.html %}">Guides</a>
            <a class="dropdown-item" href="#">API</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Support</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-md-auto mr-md-2">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-github"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-twitter"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-slack"></i></a>
        </li>
      </ul>

      <a class="btn btn-shy btn-outline-warning" href="#">Get Started</a>
    </div>
  </div>
</nav>
