.btn {
  padding: 12.5px;
  font-weight: 500;
}

.btn-outline-primary, .btn-outline-success, .btn-outline-warning, .btn-outline-danger {
  transition: background-color 0.15s ease-in-out,
              border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out,
              color 0.15s ease-in-out;
}

.btn-outline-warning {
  &:hover {
    color: $black;
  }
}
