.btn {
  padding: 12.5px;
  font-weight: bold;
}

.btn-outline {
  &.btn-outline-primary {
    border: 1px solid $blue-lighter;
    color: $blue-lighter;
    font-weight: normal;
    transition: none;

    &:hover {
      background-color: $blue-lighter;
      color: white;
    }
  }
}
