.component {
  margin-bottom: 20px;

  .component-title {
    margin-bottom: .25rem;

    small {
      color: $gray-400;
      font-size: inherit;
    }
  }

  a {
    color: rgba($black, .5);
    transition: color .25s ease-in-out;

    &:hover {
      color: rgba($black, 1);
    }
  }

  .component-subtitle {
    font-size: $font-size-lg;
    color: $gray-500;
    margin-top: 0;
  }
}
