footer {
  text-align: center;
  max-width: 1560px;
  margin: 0 auto;

  & > p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.footer-container {
  padding-bottom: 25px;
  padding-top: 25px;
  border-top: 1px solid $gray-light;
}
