.jumbotron {
  border-bottom: 1px solid $gray-200;
  margin-bottom: 0;

  .jumbotron-title {
    @include media-breakpoint-down(sm) {
      font-size: 2.25rem;
    }
  }

  .lead {
    color: $gray-600;
    margin-bottom: 0;
  }

  &.jumbotron-secondary {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
