.section {
  border-top: 1px solid #eee;
  padding: 100px 15px;

  &.section-centered {
    text-align: center;
  }

  .section-content p {
    font-size: 1em;
    line-height: 1.7em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.section-title {
  font-size: 300%;
  margin-top: 0;
  margin-bottom: 40px;
}

.section-subtitle {
  color: $gray-darker;
  font-size: 140%;
  margin-top: -30px;
  margin-bottom: 40px;
}

.section-container {
  max-width: 960px;
  margin: 0 auto;

  &.section-container-lg {
    max-width: 1180px;
  }
}

.section-actions {
  margin-top: 35px;
}

.section-content {
  &.section-content-sm{
    max-width: 770px;
    margin: 0 auto;
  }
}
