.section {
  padding-top: 100px;

  &.section-minor {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  & + &.section-border {
    margin-top: 100px;
    border-top: 1px solid $gray-200;
  }

  &.section-bg {
    background-color: $snow;
  }

  .section-title {
    font-weight: normal;
  }
}
