.table {
  &.table-comparison {
    text-align: center;

    td.yes {
      width: 10%;
      background-color: rgba($green, .25);
      color: $green;
    }

    td.no {
      width: 10%;
      background-color: rgba($red, .25);
      color: $red;
    }

    .feature-name {
      width: 20%;
    }
  }
}
