@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,700|Inconsolata');

pre {
  background-color: $gray-100;
  padding: 10px 15px;
  border-radius: $border-radius;

  &.code-inline {
    display: inline-block;
  }
}

.lead {
  color: $gray-500;
}
