@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600|Inconsolata');

pre {
  background-color: $gray-100;
  padding: 12.5px 15px;
  border-radius: $border-radius;

  &.code-inline {
    display: inline-block;
  }

  &.code-darker {
    background-color: $gray-200;
  }
}

.lead {
  color: $gray-500;
}

.display-1, .display-2, .display-3, .display-4 {
  font-weight: 500;
}

strong {
  font-weight: 600;
}

p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
  margin-top: 30px;
}
