@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,700,800|Inconsolata');

body {
  font-family: 'Libre Franklin', monospace;
}

code {
  font-family: 'Inconsolata', monospace;
}

p {
  font-size: 1em;
  line-height: 1.7em;
}
