---
layout: default
title: Advanced Pragma patterns
description: Learn how to implement complex business logic with your Pragma API.
---

<div class="jumbotron jumbotron-secondary text-center text-lg-left">
  <div class="container">
    <h1 class="display-5 display-lg-4">Advanced Pragma patterns</h1>
    <p class="lead">
      In this guide, you will learn how to implement complex validation, coercion and business logic
      in your API operations.
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3 border border-top-0 border-bottom-0 d-none d-lg-block bg-light">
      <div class="sticky-top" style="top: 50px">
        <div class="pt-5 pl-3">
          <h6>Table of Contents</h6>

          <ul class="nav flex-column" id="guide-toc">
            <li class="nav-item">
              <a class="nav-link" href="#flow-control">Flow control</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#customizing-default-operations">Customizing default operations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#creating-custom-operations">Creating custom operations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#validating-get-parameters">Validating GET parameters</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-9 pt-5 pb-4 pl-3 pr-3 pl-lg-5 pr-lg-5 border border-0 border-right-lg-1" data-spy="scroll" data-target="#guide-toc" data-offset="0">
      {% include_relative _advanced-pragma-patterns/1-flow-control.html %}
      {% include_relative _advanced-pragma-patterns/2-customizing-default-operations.html %}
    </div>
  </div>
</div>
