---
layout: default
title: Your first Pragma API
description: Learn how to build beautiful RESTful APIs with Pragma.
---

<div class="jumbotron jumbotron-secondary text-center text-lg-left">
  <div class="container">
    <h1 class="display-5 display-lg-4">Your first Pragma API</h1>
    <p class="lead">
      Pragma provides all the components you need to build beautiful, functional RESTful APIs.
      This guide will show you how you can use them to build a simple API for a blog engine.
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3 border border-top-0 border-bottom-0 d-none d-lg-block bg-light">
      <div class="sticky-top" style="top: 50px">
        <div class="pt-5">
          <h6 class="pl-2">Table of Contents</h6>

          <ul class="nav flex-column" id="guide-toc">
            <li class="nav-item">
              <a class="nav-link" href="#introduction">Introduction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#bootstrapping-the-app">Bootstrapping the app</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#creating-resources">Creating resources</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#accepting-input">Accepting input</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#presenting-data">Presenting data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#restricting-access">Restricting access</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#operating-on-resources">Operating on resources</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#putting-it-all-together">Putting it all together</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#the-next-steps">The next steps</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-9 pt-5 pb-4 pl-3 pr-3 pl-lg-5 pr-lg-5 border border-0 border-right-lg-1" data-spy="scroll" data-target="#guide-toc" data-offset="0">
      {% include_relative _your-first-pragma-api/1-introduction.html %}
      {% include_relative _your-first-pragma-api/2-bootstrapping-the-app.html %}
      {% include_relative _your-first-pragma-api/3-creating-resources.html %}
      {% include_relative _your-first-pragma-api/5-presenting-data.html %}
      {% include_relative _your-first-pragma-api/6-restricting-access.html %}
      {% include_relative _your-first-pragma-api/4-accepting-input.html %}
    </div>
  </div>
</div>
